<h2>Products</h2> <!-- El let - of - es sobre lo que se itera el html -->
<div *ngFor="let product of products | async">
    <h3> <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]"> 
        <!-- en routerLink no se debe usar interpolacion y es lo que permite no volver a ir al servidor,
             si se usa href SI que se va al servidor por tanto usar routerLink -->
            {{ product.name }}
        </a></h3>
    <p *ngIf="product.description">
        Description: {{ product.description }}
    </p>
    <app-product-alerts [product]="product" (notify)="onNotify()"></app-product-alerts> 
    <!-- El nombre entre [] es el nombre de la propiedad del ts, en el @Input -->                                                                      
</div>
<button type="button" (click)="share()">
    Share
</button>